body{
	font-family: Arial;
	padding: 0;
	margin:0;
}

.menu{
	width: 100%;
	height: 50px;
	background-color: #B7D5F9;
}

ul{
	list-style: none;
	margin-top: 0;
	text-align: center;
}

li{
	display: inline-block;
	margin-top: 17px;
	margin-right: 100px;
	color: white;
}


/* Style the links inside the navigation bar */
.menu a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.menu a.active {
  background-color: #4CAF50;
  color: white;
}


.image{
	width: 100%;
	height: 600px;
	background: url("images/waterfall.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	position: relative;
}


.one {
	color: white;
	text-align: center;
	padding-top: 165px;
	font-size: 30px;
	text-shadow: 2px 2px #848383;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #B7D5F9;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 17px;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 45px;
  height: 46px;
  border: 1px solid #B7D5F9;
  background: #B7D5F9;
  text-align: center;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




